    <div id="setLocationModal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="setLocationModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Set Location</h4>
          </div>
          <div class="modal-body">
            <ol id="locationResults" class="hidden"></ol>
            <form id="setLocationForm" class="show">
              <div class="form-group">
                <input id="txtLocation" type="text" class="form-control" placeholder="Enter Location" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="btnResetLocation" type="button" class="btn btn-default btn-sm invisible">Back</button>

            <button id="btnSearchLocation" type="submit" class="btn btn-primary btn-sm" form="setLocationForm">Search</button>
          </div>

        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->
