<fieldset>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-label" for="id_question">Question {{ label }}</label>
        <input name="question" type="text" class="form-control" placeholder="Enter Question Text" value="{{ case.0 }}" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-label" for="id_answer">Answer {{ label }}</label>
        <input name="answer" type="text" class="form-control" placeholder="Enter Answer Entity" value="{{ case.1 }}" />
      </div>
    </div>
  </div>
</fieldset>
