{% extends 'page.html' %}
{% load staticfiles %}
{# This page displays a tiny splash page with information #}

  {% block content %}

    <div id="questionApp" class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <form id="searchForm" role="form">
            <fieldset id="searchFieldSet">
              <div class="input-group">
                <input id="query" type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Submit</button>
                </span>
              </div>
              <span class="help-block">Enter a question to parse and disambiguate</span>
              <!-- <img src="{% static 'img/loader.gif' %}" id="parseLoader" class="" /> -->
              {% csrf_token %}
            </fieldset>
          </form>

        </div>

      </div>

      <!-- Question Display -->
      <div class="row hidden parseResults">
        <div class="col-md-8 col-md-offset-2">
          <p class="lead text-center" id="questionText"></p>
        </div>
      </div>

      <!-- Question Exploration - Entities and Search -->
      <div class="row hidden parseResults">
        <!-- Left Column -->
        <div class="col-md-4">
          <div id="extractionsBlock">
            <h4>Concepts</h4>
            <ul class="list-unstyled" id="concepts"></ul>
            <h4>Entities</h4>
            <ul class="list-unstyled" id="entities"></ul>
          </div>
        </div>

        <!-- Middle Column -->
        <div class="col-md-4">
          <h4>Disambiguation</h4>
          <ul id="question-list" class="list-unstyled"></ul>
        </div>

        <!-- Right  Colulmn -->
        <div class="col-md-4">
          <div id="infoCard" class="panel panel-default hidden">
            <div id="infoCardHeading" class="panel-heading">
              <h3 id="infoCardTitle" class="panel-title"></h3>
            </div>
            <div id="infoCardBody" class="panel-body">
              <img src="{% static 'img/loader.gif' %}" id="spinLoader" class="center-block hidden" />
              <div id="infoCardContent">
                <div class="innerContent"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Parse Result pre-text and meta data -->
      <div class="row hidden parseResults">
        <div class="col-md-8 col-md-offset-2">
          <pre id="parseTree"></pre>
          <p id="results" class="text-info text-center"></p>
        </div>
      </div>

      </div>
    </div>

  {% endblock %}

  {% block javascripts %}
    <!-- Scripts -->
    {{ block.super }}
    <script type="text/javascript">

      $(function(){

          var searchForm  = $("#searchForm");
          var searchInpt  = $("input#query");
          var searchFlds  = $("fieldset#searchFieldSet");
          var parseRslt   = $(".parseResults");
          var questionTxt = $("p#questionText");
          var parsePre    = $("pre#parseTree");
          var conceptsLst = $("ul#concepts");
          var entitiesLst = $("ul#entities");
          var resultsTxt  = $("#results");
          var resultsLst  = $("#question-list");
          var infoCard    = $("#infoCard");
          var infoTitle   = $("h3#infoCardTitle");
          var infoBody    = $("div#infoCardContent");
          var infoSpinner = $("img#spinLoader");

          var parser      = "/api/parse";
          var endpoint    = "/api/freebase";

          // Bind to form submit event
          searchForm.submit(function(event) {
            event.preventDefault();

            // Clean up the screen
            infoCard.addClass("hidden").removeClass("show");
            infoSpinner.addClass("hidden").removeClass("show");
            infoBody.addClass("hidden").removeClass("show");
            resultsLst.empty();
            resultsTxt.text("");

            // Disable the search form
            searchFlds.attr("disabled", true);
            parseRslt.addClass("hidden").removeClass("show");

            // Begin the parsing
            var val = searchInpt.val();
            $.getJSON(parser, {'query': val}, onParse)

            return false;
          })

          // Parse result handler
          function onParse(data) {
            // Reset the search input box and lists
            searchInpt.val("");
            searchFlds.attr("disabled", false);
            conceptsLst.empty();
            entitiesLst.empty();

            // Add the text and the parse
            questionTxt.text(data.text);
            parsePre.text(data.parse);
            resultsTxt.text(data.status);

            if (!data.parse) {
              return
            }

            // Add the concepts and the entities
            $.each(data.concepts, function(idx, obj) {
              conceptsLst.append(
                $("<li>")
                  .append(
                    $("<a>", {"href": "#"})
                      .text(obj)
                      .click(startSearch)
                  )
              )
            })

            $.each(data.entities, function(idx, obj) {
              entitiesLst.append(
                $("<li>")
                  .append(
                    $("<a>", {"href": "#", "title":obj.tag})
                      .text(obj.term)
                      .click(startSearch)
                  )
              )
            })

            // Show the Parse
            parseRslt.removeClass("hidden").addClass("show")

          }

          // Click event to start a search
          function startSearch(event) {
            event.preventDefault();

            var val = $(event.target).text();
            $.getJSON(endpoint, {'query': val}, onSearch)

            return false;
          }

          // Search result handler
          function onSearch(data) {
            resultsLst.empty();
            var report = data.hits + " hits (cost " + data.cost + ") status " + data.status;
            resultsTxt.text(report);

            $.each(data.result, function(idx, obj) {
              resultsLst.append(
                $("<li>")
                  .append(
                    $('<a>')
                    .attr("href", endpoint + obj.mid)
                    .text(obj.name)
                    .click(onTopic)
                  )
              );
            })

            // console.log(data);
          }

          // Topic result handler
          function onTopic(event) {
            event.preventDefault();

            var $link = $(event.target)
            var href  = $link.attr('href');

            // Set the title of the info window
            infoTitle.text($link.text())

            // Show the info window and spinner
            infoCard.addClass("show").removeClass("hidden");
            infoSpinner.addClass("show").removeClass("hidden");
            infoBody.addClass("hidden").removeClass("show");

            // Kick off topic search
            $.getJSON(href, function(data) {
              // Add the new content
              infoBody.html(
                $("<div>")
                  .addClass("innerContent")
                  .append(
                    $("<img>", {"src": data.image})
                  )
                  .append(
                    $("<p>")
                      .addClass("text-info")
                      .text('Notable for "' + data.notability + '"')
                  )
                  .append(
                    $("<ul>", {"id": "attrs-list"})
                      .addClass("list-unstyled")
                  )
                  .append(
                    $("<p>")
                      .text(data.description)
                  )
                  .append(
                    $("<ul>", {"id": "links-list"})
                      .addClass("list-unstyled")
                  )
              );

              $.each(data.attrs, function(idx, obj) {
                $("ul#attrs-list")
                  .append(
                    $("<li>")
                      .append(
                        $("<span>", {"class": "attr-key"}).text(obj.key + ": ")
                      )
                      .append(
                        $("<span>", {"class": "attr-value"}).text(obj.value)
                      )
                  )
              });

              $.each(data.links, function(key, val) {
                $("ul#links-list")
                  .addClass("list-inline")
                  .append(
                   $("<li>")
                     .append(
                       $("<a>", {"href": val})
                         .text(key)
                     )
                  )
              });

              // Hide the info spinner and show the content
              infoSpinner.addClass("hidden").removeClass("show");
              infoBody.addClass("show").removeClass("hidden");
            });

            return false;
          }

      });

    </script>
  {% endblock %}
