{% extends 'page.html' %}
{% load staticfiles %}
{% load votable %}
{# Displays all the information about a particular question #}

  {% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
      .question-sidebar {
        margin-top: 18px;
      }

      .question-actions {
        margin: 10px 0;
      }

      .ambiguous {
        cursor: help;
      }
    </style>
  {% endblock %}

  {% block content %}
    <div class="container">
      <!-- Questions get a three column layout -->
      <div class="row">

        <!-- Left Column -->
        <div class="col-md-2 question-sidebar">
          <h5>Concepts</h5>
          <ul class="list-unstyled">
            {% for annotation in question.annotations.all %}
            <li>
              <a class="topic-annotation{% if annotation.is_ambiguous %} ambiguous{% endif %}"
                  href="{{ annotation.get_api_detail_url }}" id="concept{{ forloop.counter }}"
                  data-annotation-id="{{ annotation.id }}" data-text="{{ annotation.text }}"
                  data-user="{{ annotation.user_id }}" data-question="{{ annotation.question_id }}">
                {% if annotation.is_ambiguous %}
                <i class="fa fa-question"></i>
                {{ annotation.text }}
                {% else %}
                {{ annotation.topic }}
                {% endif %}
              </a>
            </li>
            {% empty %}
            <li>No extracted concepts</li>
            {% endfor %}
          </ul>

          <a class="topic-annotation btn btn-xs btn-primary" href="{% url 'api:annotation-list' %}">
            <i class="fa fa-plus-circle"></i>
            add topic
          </a>
        </div><!-- end left column -->

        <!-- Middle Column -->
        <div class="col-md-8">
          <h2 id="questionText">{{ question.text }}</h2>
          <p class="text-muted">
            <small>asked on {{ question.created|date }} by {{ question.author.get_full_name }}</small>
          </p>

          <div class="question-actions">
            {% current_user_vote question as voted %}

            <button class="btn btn-default btn-xs btn-vote{% if voted == 1 %} btn-warning{% endif %}"
                    type="button" data-vote="1">
              <i class="fa fa-thumbs-up"></i> |
              <span class="vote-count">{{ question.votes.upvotes.count }}</span>
            </button>

            <button class="btn btn-default btn-xs btn-vote{% if voted == -1 %} btn-warning{% endif %}"
                    type="button" data-vote="-1">
              <i class="fa fa-thumbs-down"></i> |
              <span class="vote-count">{{ question.votes.downvotes.count }}</span>
            </button>

            <div class="pull-right">
              {% if question.author == request.user %}
              {% if question.details %}
              <p><a class="edit-details" href="#">Edit Details</a></p>
              {% else %}
              <p><a class="edit-details" href="#">Add Details</a></p>
              {% endif %}
              {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="question-details">
            {% if question.details %}
            {{ question.details_rendered|safe }}
            {% endif %}
          </div>

          <div class="question-details-form">
            <form role="form" id="formQuestionDetails" class="hidden">
              <div class="form-group">
                <textarea id="txtQuestionDetails" class="form-control" rows="8">{% if question.details %}{{ question.details }}{% endif %}</textarea>
                <span class="help-block pull-left">Edit Details in <a href="https://daringfireball.net/projects/markdown/basics" rel="nofollow" target="blank" style="color: #b7b7b7;" title="Markdown Syntax">Markdown</a></span>
              </div>
              <div class="pull-right">
                <button id="btnCancelEditDetails" type="button" class="btn btn-default btn-sm">Cancel</button>
                <button id="btnSubmitEditDetails" type="submit" class="btn btn-primary btn-sm">Update</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>

          <hr />
          <pre>{{ question.parse }}</pre>
          <p class="text-info pull-left">Parse took {{ question.parse_time|floatformat:3 }} seconds.</p>
          <p id="parse-annotation" class="text-muted pull-right editable-item">
            {% if question.parse_annotation.is_annotated %}
              {% if question.parse_annotation.correct %}
              marked <span class="text-success">correct</span> by {{ question.parse_annotation.user.username }}
              {% else %}
              marked <span class="text-danger">incorrect</span> by {{ question.parse_annotation.user.username }}
              {% endif %}
              <a href="#" class="edit-link"></a>
            {% else %}
            is this parse
            <a href="#" data-correct="true" class="text-success parse-annotate-link">correct</a>
            or
            <a href="#" data-correct="false" class="text-danger parse-annotate-link">incorrect</a>?
            {% endif %}
          </p>
          <div class="clearfix"></div>
        </div><!-- end middle column -->

        <!-- Right column -->
        <div class="col-md-2 question-sidebar">
          <h5>Related Questions</h5>
          <ul class="list-unstyled">
            {% for related in question.related.all %}
            <li><a href="{{ related.get_absolute_url }}">{{ related }}</a></li>
            {% empty %}
            <li>No related questions found</li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  {% endblock %}

  {% block modals %}
    {{ block.super }}

    <!-- Topic Annotation Modals -->
    <div id="editTopicModal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="editTopicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- topic annotation header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Manage Topics</h4>
          </div>

          <!-- topic annotation body -->
          <div class="modal-body">

            <!-- topic search form -->
            <div id="topicSearch">
              <form id="topicSearchForm">
                <div class="form-group">
                  <input type="text" id="topicSearchQuery" class="form-control" placeholder="Enter Topic" />
                </div>
              </form>
              <ol id="topicResults" class=""></ol>
            </div>

            <!-- topic annotation form -->
            <div id="topicAnnotation" class="hidden">
              <form id="topicAnnotationForm" action="" class="form-horizontal">
                <fieldset>
                <div class="form-group">
                  <label class="control-label col-sm-2"><strong>Topic</strong></label>
                  <div class="col-sm-10">
                    <p id="pTopicText" class="form-control-static"></p>
                    <span class="help-block form-error" id="topicFormError"></span>
                    <input type="hidden" id="topicAnnotationTopic" name="topic" value="" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="topicAnnotationText" class="col-sm-2 control-label"><strong>Text</strong></label>
                  <div class="col-sm-10">
                    <input type="text" id="topicAnnotationText" name="text" class="form-control" placeholder="Text From Question" />
                    <span class="help-block">Please ensure that the text appears verbatim in the question.</span>
                    <span class="help-block form-error" id="textFormError"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2"><strong>Topic</strong></label>
                  <div class="col-sm-10">
                    <p id="pQuestionText" class="form-control-static">{{ question.text }}</p>
                    <span class="help-block form-error" id="questionFormError"></span>
                    <input type="hidden" id="topicAnnotationQuestion" name="question" value="{{ question.get_api_detail_url }}" />
                  </div>
                </div>
                </fieldset>
              </form>
            </div>

          </div>

          <!-- topic annotation footer -->
          <div class="modal-footer">
            <button id="btnEditTopicSearch" type="submit"
                    class="btn btn-primary btn-sm pull-left" form="topicSearchForm">
              <i class="fa fa-search"></i> Search
            </button>
            <button id="btnEditTopicBack" type="button"
                    class="btn btn-default btn-sm invisible">
              <i class="fa fa-arrow-circle-left"></i> Back
            </button>
            <button id="btnEditTopicSubmit" type="submit"
                    class="btn btn-primary btn-sm invisible" form="topicAnnotationForm">
              <i class="fa fa-check-circle"></i> Submit
            </button>
          </div>

        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->

  {% endblock %}

  {% block javascripts %}
    {{ block.super }}

    <script type="text/template" class="template" id="parseAnnotationTemplate">
      <% if (correct) { %>
        marked <span class="text-success">correct</span> by <%- username %>
      <% } else { %>
        marked <span class="text-danger">incorrect</span> by <%- username %>
      <% } %>
        <a href="#" class="edit-link"></a>
    </script>

    <script type="text/template" class="template" id="editParseAnnotationTemplate">
      is this parse
      <a href="#" data-correct="true" class="text-success parse-annotate-link">correct</a>
      or
      <a href="#" data-correct="false" class="text-danger parse-annotate-link">incorrect</a>?
    </script>

    <script type="text/template" class="template" id="topicItemTemplate">
      <li>
        <a href="<%= link %>" title="Set as Topic" class="topicResult"
           data-mid="<%= mid %>" data-title="<%= name %>" data-notable="<%= notable %>">
          <%= name %>
        </a>
        <small class="text-muted"><%= notable %></small>
      </li>
    </script>

    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {

          // Configure the question application
          var csrfToken   = $('input[name="csrfmiddlewaretoken"]').val();
          $.ajaxSetup({headers: {"X-CSRFToken": csrfToken}});
          console.log("question application ready")

          var endpoint             = "{{ question.get_api_detail_url }}";
          var questionText         = $("#questionText").text();
          var questionDetails      = $("div.question-details");
          var detailsForm          = $("form#formQuestionDetails");
          var txtQuestionDetails   = $("#txtQuestionDetails");
          var btnEditDetails       = $(".edit-details");
          var btnCancelEditDetails = $("#btnCancelEditDetails");
          var btnSubmitEditDetails = $("#btnSubmitEditDetails");
          var parseAnnotationTmpl  = _.template($("#parseAnnotationTemplate").html());
          var editParseAnnotatTmpl = _.template($("#editParseAnnotationTemplate").html());

          ////////////////////////////////////////////////////////////////
          /// Handle the Details editing
          ////////////////////////////////////////////////////////////////

          // Handle edit details link press (start editing)
          btnEditDetails.click(function(e) {
            e.preventDefault();
            questionDetails.addClass("hidden").removeClass("show");
            detailsForm.addClass("show").removeClass("hidden");
            $(".edit-details").addClass("hidden").removeClass("show");
            return false;
          });

          // Handle the cancel edit button press (stop editing)
          btnCancelEditDetails.click(function(e) {
            questionDetails.addClass("show").removeClass("hidden");
            detailsForm.addClass("hidden").removeClass("show");
            $(".edit-details").addClass("show").removeClass("hidden");

            // Reload the text input with the data
            $.getJSON(endpoint, function(data) {
              txtQuestionDetails.val(data.details);
            });

            return false;
          });

          // Handle the submission of the details form (PUT changes)
          detailsForm.submit(function(e) {
            e.preventDefault();

            // Get the data from the text input and validate
            var details = txtQuestionDetails.val();
            if (!details) {
              console.log("Nothing to submit");
              return
            }

            // Disable the details form
            detailsForm.find("textarea, button").attr('disabled', 'disabled');

            // Put the data to the server
            $.ajax({
              url: endpoint,
              type: 'PUT',
              data: {
                'text': questionText,
                'details': details
              },
              success: function(data) {
                // Set the details and the details_rendered
                txtQuestionDetails.val(data.details);
                questionDetails.html(data.details_rendered);

                $(".edit-details").text("Edit Details");
                $(".edit-details").addClass("show").removeClass("hidden");

                // Swap and show the new area
                detailsForm.find("textarea, button").removeAttr("disabled");
                questionDetails.addClass("show").removeClass("hidden");
                detailsForm.addClass("hidden").removeClass("show");
              }
            });


            return false;
          });

          ////////////////////////////////////////////////////////////////
          /// Parse Annotation
          ////////////////////////////////////////////////////////////////

          // Handle parse annotation links
          $(".parse-annotate-link").click(onParseAnnotateClick);

          function onParseAnnotateClick(e) {
            e.preventDefault();

            var parse_endpoint = endpoint + "parse/";
            var data = $(this).data();

            $.post(parse_endpoint, data, function(data) {

              if (data.success) {
                $("#parse-annotation").html(
                  parseAnnotationTmpl({
                    correct: data.correct,
                    username: "{{ request.user.username }}"
                  })
                );

                $("#parse-annotation a.edit-link").click(onEditParseAnnotationClick);
              }

            });

            return false;
          }

          // Handle edit parse annotation link
          $("#parse-annotation a.edit-link").click(onEditParseAnnotationClick);

          function onEditParseAnnotationClick(e) {
            e.preventDefault();
            $("#parse-annotation").html(editParseAnnotatTmpl());
            $(".parse-annotate-link").click(onParseAnnotateClick);
            return false
          }

          ////////////////////////////////////////////////////////////////
          /// Voting
          ////////////////////////////////////////////////////////////////

          // Handle the question voting buttons
          $(".question-actions button.btn-vote").click(function(e) {
            e.preventDefault();

            var target = $(this);
            var vote_endpoint = endpoint + "vote/";
            var data = target.data();

            $.post(vote_endpoint, data, function(result) {

              // Update the buttons according to the response
              $.each($(".question-actions button.btn-vote"), function(idx, obj) {
                obj  = $(obj);
                data = obj.data();

                // Handle the indication class
                if (data.vote == result.vote) {
                  obj.addClass("btn-warning");
                } else {
                  obj.removeClass("btn-warning");
                }

                // Handle the count inside of the span
                var span = obj.find("span.vote-count");
                if (data.vote == 1) {
                  span.text(result.upvotes);
                } else if (data.vote == -1) {
                  span.text(result.downvotes);
                } else {
                  span.text("0");
                }

              });

            });

            return false;

          })

          ////////////////////////////////////////////////////////////////
          /// Topic Annotation
          ////////////////////////////////////////////////////////////////

          var topicEndpoint        = "/api/freebase/";
          var qtaEndpoint          = endpoint + "/annotations/";
          var editTopicModal       = $("#editTopicModal");
          var topicSearch          = $("#topicSearch");
          var topicAnnotation      = $("#topicAnnotation");
          var topicSearchForm      = $("#topicSearchForm");
          var topicSearchQuery     = $("#topicSearchQuery");
          var topicAnnotationForm  = $("#topicAnnotationForm");
          var topicAnnotationText  = $("#topicAnnotationText");
          var topicAnnotationTopic = $("#topicAnnotationTopic");
          var resultsList          = $("#topicResults");
          var btnEditTopicSearch   = $("#btnEditTopicSearch");
          var btnEditTopicSubmit   = $("#btnEditTopicSubmit");
          var btnEditTopicBack     = $("#btnEditTopicBack");

          // Holds the id of the concept being processed
          var currentTopic         = "";

          // Templates
          var topicTmpl = _.template($("#topicItemTemplate").html());

          // Handle the topic detail modal
          $(".topic-annotation").click(function(e) {
            // Stop the link click
            e.preventDefault();

            var target   = $(this);
            var data     = target.data();
            currentTopic = target.attr('id');

            // Set the state of the forms in the dialog
            topicSearchQuery.val(data.text);
            topicAnnotationText.val(data.text);
            topicAnnotationForm.attr('action', target.attr('href'));

            // If this is an unambiguous query - show the detail

            // Otherwise show the search form



            // Show the modal and return
            editTopicModal.modal('show');
            return false;
          });

          // Handle the search form submission
          topicSearchForm.submit(function(e) {
            e.preventDefault();

            var val = topicSearchQuery.val();

            topicSearchQuery.attr('disabled', 'disabled');
            $.getJSON(topicEndpoint, {'query': val}, onTopicResult);

            return false;
          });

          // Handle the annotation form submission
          topicAnnotationForm.submit(function(e) {
            e.preventDefault();

            // Get information to POST
            var action   = topicAnnotationForm.attr('action');
            var formData = _.object(topicAnnotationForm
                                      .serializeArray()
                                      .map(function(v) {
                                              return [v.name, v.value];
                                            })
                                    );

            // Disable form (after getting form data -- required)
            topicAnnotationText.attr('disabled', 'disabled');
            btnEditTopicBack.attr('disabled', 'disabled');
            btnEditTopicSubmit.attr('disabled', 'disabled');

            $.ajax({
              'method':  'PUT',
              'url':     action,
              'data':    formData,
            }).done(function(data) {

              // Update the current topic
              if (currentTopic != "") {
                $("#" + currentTopic)
                  .text(data.topic)
                  .removeClass('ambiguous');
              } else {
                console.log("ERROR -- no currentTopic is set! Can't update topic list!");
              }

              // Close the form and therefore reset all the fields
              editTopicModal.modal('hide');

            }).fail(function(jqxhr, status, error) {

              // Reset the form state
              topicAnnotationText.removeAttr('disabled');
              btnEditTopicBack.removeAttr('disabled');
              btnEditTopicSubmit.removeAttr('disabled');

              // Set error state
              topicAnnotationForm.addClass('has-error');

              $.each(jqxhr.responseJSON, function(field, errors) {
                block = $("span#" + field + "FormError");
                if (block) {
                  block.text(errors[0]);
                }
              });

              console.log(jqxhr.responseJSON);
              console.log(error);

            });

            return false;
          });

          // On response from the topic search API
          function onTopicResult(data) {
            topicSearchQuery.removeAttr('disabled');
            resultsList.empty();

            $.each(data.result, function(idx, obj) {
              if (idx > 5) {
                return false
              }

              resultsList.append(
                topicTmpl({
                  link: endpoint + obj.mid,
                  mid: obj.mid,
                  name: obj.name,
                  notable: obj.notable ? obj.notable.name : ""
                })
              );
            });

            // Add topic result click handler
            $(".topicResult").click(onSelectTopic);
          }

          function onSelectTopic(e) {
            e.preventDefault();

            var data = $(e.target).data();
            var topicHtml = "<span class=\"text-primary\">" + data.title + "</span> <small>" + data.notable + "</small>";
            $("#pTopicText").html(topicHtml);
            topicAnnotationTopic.val(data.mid);

            // Change state to the topic annotation form
            toggleTopicBtnState('annotate');
            hide(topicSearch);
            show(topicAnnotation);

            return false;
          }

          // btnEditTopicBack click handler
          btnEditTopicBack.click(function(e) {
            toggleTopicBtnState('search');

            hide(topicAnnotation);
            show(topicSearch);

            topicAnnotationForm.removeClass('has-error');
            $("span.form-error").text("");
          });

          // Reset the modal on close
          editTopicModal.on('hidden.bs.modal', function (e) {
            resetTopicModal();
          });

          // Reset the topic annotation form
          function resetTopicModal() {
            // Remove intermediate states
            topicSearchQuery.removeAttr('disabled');
            topicAnnotationText.removeAttr('disabled');
            btnEditTopicBack.removeAttr('disabled');
            btnEditTopicSubmit.removeAttr('disabled');
            topicAnnotationForm.removeClass('has-error');
            $("span.form-error").text("");
            resultsList.empty();

            // Clear form states back to defaults
            $("#pTopicText").html("");
            topicAnnotationTopic.val("");
            topicSearchQuery.val("");
            topicAnnotationText.val("");
            topicAnnotationForm.attr('action', "");

            // Revert the state of the modal
            toggleTopicBtnState('search');
            hide(topicAnnotation);
            show(topicSearch);

            // Forget the current topic
            currentTopic = "";
          }

          // Toggle topic form button states
          function toggleTopicBtnState(action) {
            action = action || 'search';

            if (action == 'search') {
              // Set button state to search mode
              btnEditTopicSearch.removeClass('invisible');
              btnEditTopicSubmit.addClass('invisible');
              btnEditTopicBack.addClass('invisible');
            } else if (action == 'annotate') {
              // Set button state to annotate mode
              btnEditTopicSearch.addClass('invisible');
              btnEditTopicSubmit.removeClass('invisible');
              btnEditTopicBack.removeClass('invisible');
            } else {
              console.log("ERROR! Unknown topic button state \"" + action + "\"!");
            }
          }

          // Helper function to hide elements
          function hide(elem) {
            elem.addClass("hidden").removeClass("show");
          }

          // Helper function to show elements
          function show(elem) {
            elem.addClass("show").removeClass("hidden");
          }

        });
      })(jQuery);
    </script>
  {% endblock %}
