{% extends 'page.html' %}
{% load staticfiles %}
{# Displays all the information about a particular question #}

  {% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
      .question-sidebar {
        margin-top: 18px;
      }

      .question-actions {
        margin: 10px 0;
      }
    </style>
  {% endblock %}

  {% block content %}
    <div class="container">
      <!-- Questions get a three column layout -->
      <div class="row">

        <!-- Left Column -->
        <div class="col-md-2 question-sidebar">
          <h5>Concepts</h5>
          <ul class="list-unstyled">
            {% for annotation in question.annotations.all %}
            {% if annotation.is_ambiguous %}
            <li><a href="#">{{ annotation.text }}</a></li>
            {% else %}
            <li><a href="#">{{ annotation.topic }}</a></li>
            {% endif %}
            {% empty %}
            <li>No extracted concepts</li>
            {% endfor %}
          </ul>
        </div><!-- end left column -->

        <!-- Middle Column -->
        <div class="col-md-8">
          <h2 id="questionText">{{ question.text }}</h2>
          <p class="text-muted">
            <small>asked on {{ question.created|date }} by {{ question.author.get_full_name }}</small>
          </p>

          <div class="question-actions">
            <button class="btn btn-default btn-xs" type="button">
              <i class="fa fa-thumbs-up"></i> | {{ question.votes.upvotes.count }}
            </button>

            <button class="btn btn-default btn-xs" type="button">
              <i class="fa fa-thumbs-down"></i> | {{ question.votes.downvotes.count }}
            </button>

            <div class="pull-right">
              {% if question.author == request.user %}
              {% if question.details %}
              <p><a class="edit-details" href="#">Edit Details</a></p>
              {% else %}
              <p><a class="edit-details" href="#">Add Details</a></p>
              {% endif %}
              {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="question-details">
            {% if question.details %}
            {{ question.details_rendered|safe }}
            {% endif %}
          </div>

          <div class="question-details-form">
            <form role="form" id="formQuestionDetails" class="hidden">
              <div class="form-group">
                <textarea id="txtQuestionDetails" class="form-control" rows="8">{% if question.details %}{{ question.details }}{% endif %}</textarea>
                <span class="help-block pull-left">Edit Details in <a href="https://daringfireball.net/projects/markdown/basics" rel="nofollow" target="blank" style="color: #b7b7b7;" title="Markdown Syntax">Markdown</a></span>
              </div>
              <div class="pull-right">
                <button id="btnCancelEditDetails" type="button" class="btn btn-default btn-sm">Cancel</button>
                <button id="btnSubmitEditDetails" type="submit" class="btn btn-primary btn-sm">Update</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>

          <hr />
          <pre>{{ question.parse }}</pre>
          <p class="text-info pull-left">Parse took {{ question.parse_time|floatformat:3 }} seconds.</p>
          <p id="parse-annotation" class="text-muted pull-right editable-item">
            {% if question.parse_annotation.is_annotated %}
              {% if question.parse_annotation.correct %}
              marked <span class="text-success">correct</span> by {{ question.parse_annotation.user.username }}
              {% else %}
              marked <span class="text-danger">incorrect</span> by {{ question.parse_annotation.user.username }}
              {% endif %}
              <a href="#" class="edit-link"></a>
            {% else %}
            is this parse
            <a href="#" data-correct="true" class="text-success parse-annotate-link">correct</a>
            or
            <a href="#" data-correct="false" class="text-danger parse-annotate-link">incorrect</a>?
            {% endif %}
          </p>
          <div class="clearfix"></div>
        </div><!-- end middle column -->

        <!-- Right column -->
        <div class="col-md-2 question-sidebar">
          <h5>Related Questions</h5>
          <ul class="list-unstyled">
            {% for related in question.related.all %}
            <li><a href="{{ related.get_absolute_url }}">{{ related }}</a></li>
            {% empty %}
            <li>No related questions found</li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  {% endblock %}

  {% block javascripts %}
    {{ block.super }}

    <script type="text/template" class="template" id="parseAnnotationTemplate">
      <% if (correct) { %>
        marked <span class="text-success">correct</span> by <%- username %>
      <% } else { %>
        marked <span class="text-danger">incorrect</span> by <%- username %>
      <% } %>
        <a href="#" class="edit-link"></a>
    </script>

    <script type="text/template" class="template" id="editParseAnnotationTemplate">
      is this parse
      <a href="#" data-correct="true" class="text-success parse-annotate-link">correct</a>
      or
      <a href="#" data-correct="false" class="text-danger parse-annotate-link">incorrect</a>?
    </script>

    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {

          // Configure the question application
          var csrfToken   = $('input[name="csrfmiddlewaretoken"]').val();
          $.ajaxSetup({headers: {"X-CSRFToken": csrfToken}});
          console.log("question application ready")

          var endpoint             = "{{ question.get_api_detail_url }}";
          var questionText         = $("#questionText").text();
          var questionDetails      = $("div.question-details");
          var detailsForm          = $("form#formQuestionDetails");
          var txtQuestionDetails   = $("#txtQuestionDetails");
          var btnEditDetails       = $(".edit-details");
          var btnCancelEditDetails = $("#btnCancelEditDetails");
          var btnSubmitEditDetails = $("#btnSubmitEditDetails");
          var parseAnnotationTmpl  = _.template($("#parseAnnotationTemplate").html());
          var editParseAnnotatTmpl = _.template($("#editParseAnnotationTemplate").html());

          // Handle edit details link press (start editing)
          btnEditDetails.click(function(e) {
            e.preventDefault();
            questionDetails.addClass("hidden").removeClass("show");
            detailsForm.addClass("show").removeClass("hidden");
            $(".edit-details").addClass("hidden").removeClass("show");
            return false;
          });

          // Handle the cancel edit button press (stop editing)
          btnCancelEditDetails.click(function(e) {
            questionDetails.addClass("show").removeClass("hidden");
            detailsForm.addClass("hidden").removeClass("show");
            $(".edit-details").addClass("show").removeClass("hidden");

            // Reload the text input with the data
            $.getJSON(endpoint, function(data) {
              txtQuestionDetails.val(data.details);
            });

            return false;
          });

          // Handle the submission of the details form (PUT changes)
          detailsForm.submit(function(e) {
            e.preventDefault();

            // Get the data from the text input and validate
            var details = txtQuestionDetails.val();
            if (!details) {
              console.log("Nothing to submit");
              return
            }

            // Disable the details form
            detailsForm.find("textarea, button").attr('disabled', 'disabled');

            // Put the data to the server
            $.ajax({
              url: endpoint,
              type: 'PUT',
              data: {
                'text': questionText,
                'details': details
              },
              success: function(data) {
                // Set the details and the details_rendered
                txtQuestionDetails.val(data.details);
                questionDetails.html(data.details_rendered);

                $(".edit-details").text("Edit Details");
                $(".edit-details").addClass("show").removeClass("hidden");

                // Swap and show the new area
                detailsForm.find("textarea, button").removeAttr("disabled");
                questionDetails.addClass("show").removeClass("hidden");
                detailsForm.addClass("hidden").removeClass("show");
              }
            });


            return false;
          });

          // Handle parse annotation links
          $(".parse-annotate-link").click(onParseAnnotateClick);

          function onParseAnnotateClick(e) {
            e.preventDefault();

            var parse_endpoint = endpoint + "parse/";
            var data = $(e.target).data();

            $.post(parse_endpoint, data, function(data) {

              if (data.success) {
                $("#parse-annotation").html(
                  parseAnnotationTmpl({
                    correct: data.correct,
                    username: "{{ request.user.username }}"
                  })
                );

                $("#parse-annotation a.edit-link").click(onEditParseAnnotationClick);
              }

            });

            return false;
          }

          // Handle edit parse annotation link
          $("#parse-annotation a.edit-link").click(onEditParseAnnotationClick);

          function onEditParseAnnotationClick(e) {
            e.preventDefault();
            $("#parse-annotation").html(editParseAnnotatTmpl());
            $(".parse-annotate-link").click(onParseAnnotateClick);
            return false
          }


        });
      })(jQuery);
    </script>
  {% endblock %}
