{% extends 'page.html' %}
{% load humanize %}
{# Basic Prototype of the Case Reasoner #}

{% block content %}

  <div id="reasonerPrototypeApp" class="container">

    <!-- alerts and messages row -->
    <div class="row">
      <div class="col-xs-12">
        <div id="alerts"></div>
      </div>
    </div>

    <!-- two columns row -->
    <div class="row">

      <!-- left sidebar -->
      <div class="col-sm-3">

        <!-- Dialogue Information Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Dialogue Information</div>
          </div>

          {% if not dialogue %}
          <div class="panel-body">
            <p class="text-muted">You can start your first dialogue by pressing the "Start Dialogue" button.</p>
            <p class="text-muted">This panel will display information about the current investigative session.</p>
          </div>
          {% endif %}
          <table id="dialogueInformationTable" class="table{% if not dialogue %} hidden{% endif %}">
            <tbody>
              <tr>
                <td>Started</td>
                <td>
                  {% if dialogue.active %}
                  {{ dialogue.started|naturaltime }}
                  {% else %}
                  {{ dialogue.started|date:"M j, Y \a\t h:i A" }}
                  {% endif %}
                </td>
              </tr>
              {% if dialogue and not dialogue.active %}
              <tr>
                <td>Finished</td>
                <td>
                  {{ dialogue.finished|date:"M j, Y \a\t h:i A" }}
                </td>
              </tr>
              <tr>
                <td>Duration</td>
                <td>{{ dialogue.started|timesince:dialogue.finished }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>Questions</td>
                <td>{{ dialogue.questions.count }}</td>
              </tr>
              <tr>
                <td>Subgoals</td>
                <td>{{ dialogue.questions.subgoals.count }}</td>
              </tr>
            </tbody>
          </table>

        </div><!-- dialogue information panel ends -->

      </div><!-- left sidebar ends -->

      <!-- right sidebar -->
      <div class="col-sm-9">

        <!-- Dialogue Toggle Button -->
        {% if dialogue.active %}
        <button id="btnToggleDialogue" class="btn btn-default btn-sm pull-right"
                data-toggle="stop" data-target="{{ dialogue.id }}">
          <i class="fa fa-stop"></i> Stop Dialogue
        </button>
        {% else %}
        <button id="btnToggleDialogue" class="btn btn-default btn-sm pull-right"
                data-toggle="start" data-target="">
          <i class="fa fa-play-circle"></i> Start Dialogue
        </button>
        {% endif %}

        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#interactive" data-toggle="tab">
              <i class="fa fa-comment"></i> Interactive
            </a>
          </li>
          <li>
            <a href="#history" data-toggle="tab">
              <i class="fa fa-history"></i> History
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="interactive" class="tab-pane active">


            <form>
              <div class="form-group">
                <label class="form-label" for="id_question">Question {{ label }}</label>
                <input name="question" type="text" class="form-control" placeholder="Enter Question Text" value="{{ case.0 }}" />
              </div>
              <div class="form-group">
                <select>
                  <option>Subgoal 1</option>
                  <option>Subgoal 2</option>
                </select>
              </div>

            </form>

          </div><!-- interactive panel ends -->

          <div id="history" class="tab-pane">

            <div class="well">
              <p>Session history</p>
            </div>

          </div><!-- interactive panel ends -->

        </div><!-- tab-content ends -->

        <div class="clearfix"></div>
      </div><!-- right sidebar ends -->

    </div><!-- two columns row ends -->

  </div><!-- #reasonerPrototypeApp ends -->
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <!-- Templates -->
  <script id="tmplBtnToggleDialogue" type="x-tmpl-mustache">
    {% verbatim %}
    <button id="btnToggleDialogue" class="btn btn-default btn-sm pull-right"
            data-toggle="{{ toggle }}" data-target="{{ target }}">
      <i class="fa {{ icon }}"></i> {{ label }}
    </button>
    {% endverbatim %}
  </script>

  <script id="tmplDialogueInformation" type="x-tmpl-mustache">
    {% verbatim %}
    <tbody>
      <tr>
        <td>Started</td>
        <td>{{ started }}</td>
      </tr>
      {{ ^active }}
      <tr>
        <td>Finished</td>
        <td>
          {{ finished }}
        </td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{ duration }}</td>
      </tr>
      {{ /active }}
      <tr>
        <td>Questions</td>
        <td>{{ num_questions }}</td>
      </tr>
      <tr>
        <td>Subgoals</td>
        <td>{{ num_subgoals }}</td>
      </tr>
    {% endverbatim %}
  </script>

  <script id="tmplAlert" type="x-tmpl-mustache">
    {% verbatim %}
    <div class="alert alert-dismissible alert-{{ level }}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ &notice }}</strong> {{ message }}
    </div>
    {% endverbatim %}
  </script>

  <!-- Primary Logics -->
  <script type="text/javascript">
    $(function() {

      var refresh; // Timer for refreshing dialogue data

      var user_id   = {{ user.id }};
      var dialogue  = "{% if dialogue.active %}{{ dialogue.id }}{% endif %}";
      var endpoint  = "{% url 'api:dialogue-list' %}";
      var datetimeFormat = "MMM D, YYYY [at] h:mm A";

      // Templates
      var btntmpl   = $("#tmplBtnToggleDialogue").html();
      var infotmpl  = $("#tmplDialogueInformation").html();
      var alerttmpl = $("#tmplAlert").html();

      // Start and stop the dialogue with the toggle button
      function onToggleDialogue(e) {
        var button = $(e.target);
        var toggle = button.data('toggle');
        var target = button.data('target');

        var jump   = {
          "start": startDialogue,
          "stop":  stopDialogue
        }

        return jump[toggle](target, button);
      };

      // Handle all the logic for starting the dialogue
      function startDialogue(target, button) {
        data = {
          "user": user_id
        }

        $.post(endpoint, data)
          .success(function(data) {

            // Replace the start dialogue panel if it exists
            if ($("#dialogueInformationTable").hasClass("hidden")) {
              var table = $("#dialogueInformationTable");
              table.removeClass("hidden");
              table.siblings('.panel-body').remove();
            }

            // Create button view data
            var btnview = {
              "toggle": "stop",
              "target": data.id,
              "icon": "fa-stop",
              "label": "Stop Dialogue"
            };

            // Update the UI with the new information.
            button.replaceWith(Mustache.render(btntmpl, btnview));
            updateDialogueInformation(data);

            // Start refresh timeout
            startRefresh(data.id);
          })
          .fail(function(jqXHR, textStatus, errorThrown ) {
            console.log("Could not start the dialogue:", textStatus, errorThrown);
            var alert = Mustache.render(alerttmpl, {
              "level": "danger",
              "notice": "<i class=\"fa fa-warning\"></i> Bad Things!",
              "message": "Could not start the dialogue due to API error."
            });
            $("#alerts").append(alert);
          });
      }

      // Handle all the logic for stopping the dialogue
      function stopDialogue(target, button) {
        data = {
          "successful": true,
          "completed": true
        }

        $.post(endpoint + target + "/complete/", data)
          .success(function(data) {

            // Create button view data
            var view = {
              "toggle": "start",
              "target": "",
              "icon": "fa-play-circle",
              "label": "Start Dialogue"
            };

            // Update the UI
            button.replaceWith(Mustache.render(btntmpl, view));
            updateDialogueInformation(data);

            // Stop the refresh
            stopRefresh();
          })
          .fail(function(jqXHR, textStatus, errorThrown ) {
            console.log("Could not stop the dialogue:", textStatus, errorThrown);
            var alert = Mustache.render(alerttmpl, {
              "level": "danger",
              "notice": "<i class=\"fa fa-warning\"></i> Bad Things!",
              "message": "Could not stop the dialogue due to API error."
            });
            $("#alerts").append(alert);
          })
      }

      // Helper function to update the dialogue information table
      function updateDialogueInformation(data) {

        data.num_questions = data.questions.length;
        data.num_subgoals  = 0;
        data.started       = moment(data.started);
        data.finished      = moment(data.finished);
        data.duration      = moment.duration(data.finished - data.started).humanize();

        if (data.active) {
          data.started  = data.started.fromNow();
        } else {
          data.started  = data.started.format(datetimeFormat);
          data.finished = data.finished.format(datetimeFormat);
        }

        $("#dialogueInformationTable").html(Mustache.render(infotmpl, data));
      }

      // Refresh the dialogue information every 10 seconds.
      function startRefresh(dialogueId) {
        // console.log("refreshing id", dialogueId, "every 10 seconds.");
        dialogue = dialogueId;
        stopRefresh();

        if (dialogue) {
          refresh = setTimeout(function() {
            $.get(endpoint + dialogue + "/")
              .success(function(data) {
                updateDialogueInformation(data);
                startRefresh(data.id);
              })
              .fail(function() {
                console.log("Couldn't refresh data?!");
                stopRefresh();
              });

          }, 10000);
        }
      }

      // Stop the refresh cycle.
      function stopRefresh() {
        if (refresh) {
          clearTimeout(refresh);
          refresh = null;
        }
      }

      // Event Bindings
      $(document).on("click", "#btnToggleDialogue", {}, onToggleDialogue);

      // Start refresh loop
      if (dialogue) {
        startRefresh(dialogue);
      }

    });

  </script>
{% endblock %}
