<!-- similarity information modal -->
<div class="modal fade" id="similarityInformationModal" tabindex="-1" role="dialog" aria-labelledby="similarityInformationModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="similarityInformationModalLabel">Computing Similarity</h4>
      </div>
      <div class="modal-body">
        <p>The similarity score is in the <strong>range 0-1</strong> where 0 is less similar and 1 is exactly the same</p>
        <p>Currently the similarity computation is under development. More information will be added soon!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
